:root{
  --primary-color:#7286D3 ;
  --secondary-color: #FFF2F2;
  --third-color: #E5E0FF;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color:var(--secondary-color) ;
}

.headerText{
  text-align: center;
  margin: 20px 0;
  color: var(--primary-color);
}

.addItem{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.addItem input{
  padding: 3px;
}

.addItem input:focus{
  outline: 0;
}

.btn{
  background-color: var(--primary-color);
  color: var(--third-color);
  font-size: 1.1rem;
  padding: 5px 15px;
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:active{
  transform: scale(0.98);
}

.addedItems{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  background-color: var(--third-color);
  max-width: 1000px;
  border-radius: 10px;
  padding: 20px;
}

.addedItem{
  margin: 5px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.addedItem{
  font-size: 1.1rem;
}

.addedItemBtns{
  display: flex;
}

.xBtn{
  margin-left: 20px;
}

.lineThrough{
  text-decoration: line-through;
}

.noItems{
  text-align: center;
}

.emptyInputMessage{
  color: red;
  text-align: center;
}

.addedItemMessage{
  color: lightgreen;
  text-align: center;
}

